body{
    background-color: beige;
    text-align: center;
    
}
header{
    margin-bottom: 15px;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#Perfil 
    margin-left: 150px;
    margin-right: 150px;
    
}
a{
    color: grey;
}

.item{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    align-content: center;
}